version: 2.1

orbs:
  codeclimate: sue445/codeclimate@volatile
  ruby-orbs: sue445/ruby-orbs@volatile
  heroku:    circleci/heroku@0.0.2

executors:
  default:
    docker:
      - image: circleci/ruby:2.6.3
        environment:
          RACK_ENV: test
          CC_TEST_REPORTER_ID: 534299c4cde318f50f1716004b9f46b0ceaf132a68e9bfead3c88faa3981afd4
      - image: memcached:1.5-alpine
    working_directory: ~/app

jobs:
  rspec:
    executor:
      name: default

    steps:
      - checkout
      - ruby-orbs/bundle-install:
          cache_key_prefix: "v2-bundle"
      - codeclimate/with-cc-test-reporter:
          after_build_args: '--coverage-input-type simplecov'
          steps:
            - run: bundle exec rspec

  rubocop:
    executor:
      name: default

    steps:
      - checkout
      - ruby-orbs/bundle-install:
          cache_key_prefix: "v2-bundle"
      - run: bundle exec rubocop

workflows:
  version: 2

  build-and-deploy:
    jobs:
      - rspec
      - rubocop
      - heroku/deploy-via-git:
          context: Heroku
          requires:
            - rspec
            - rubocop
          filters:
            branches:
              only: master
